{% extends 'catalyst_count/base.html' %}

{% block title %}Login{% endblock %}

{% block navbar %}
<!-- No navbar for the signup page -->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="margin-top: 50px;">
                <div class="card-body" style="background-color: #f8f9fa;">
                    <h2 class="text-center mb-4">Login to Continue</h2>
                    <form method="POST" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                name="password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block mt-4">Login</button>
                        </div>
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    </form>
                    <div class="text-center mt-3">
                        <p>Don't have an account? <a href="{% url 'signup_view' %}">Sign up here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('login-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        fetch('/api/login/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username, password }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.access_token) {
                    // Store token and proceed with user interaction
                    localStorage.setItem('access_token', data.access_token);
                    localStorage.setItem('refresh_token', data.refresh_token);
                    window.location.href = '/upload_form/';
                } else {
                    alert("Invalid credentials");
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
{% endblock %}

